/* navbar */
.main-image{
   margin-top: 100px;
   width: 100%;
   background-image: linear-gradient(white,rgb(184, 182, 212),rgb(137, 137, 219),rgb(123, 123, 222));
}
.bg-body-tertiary{
   background-image: none;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 9;
}
.nav-drop{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(12, 12, 108) ;
}
.m-auto{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif
   
}
.nav-links{
    color:rgb(12, 12, 108) ;
    padding: 10px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif
}

#basic-nav-dropdown{
    color:rgb(12, 12, 108) ;
    padding: 10px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif
}
.d-inline-block {
    width: 200px;
    height: 50px;
}

/* .nav-banner{
    width: 100%;
    width: fit-content;
    display: flex;
    }
.nav-items ul{
    background-color: rgb(88, 88, 238);
    color: white;
    list-style-type: none;
    width: fit-content;
}
.nav-items li a{
    font-weight: 500;
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-family: 'Times New Roman', Times, serif
} */
.icon{
    margin:5%;   
} */

.top-nav{
   overflow: hidden;
}


/* home */
.main-body{
   background-image: linear-gradient(rgb(225, 210, 235),rgb(217, 225, 226));
   
}
.entry-image{
    position: relative;
    margin-top: 75px;
}
 .physio_img1{
    width: 100%;
    opacity: .8;
 }
 .caption{
    padding: 15px;
    
    background-color: rgb(88, 88, 238);
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color:rgb(248, 248, 248);
 }
 .caption1{
   width: fit-content;
   text-align: end;
 }
 .whatsp-icon{
   cursor: pointer;
   width: 50px;
   height: 50px;  

}
.whatsp-icon:hover {
   animation: shake 0.5s;
   animation-iteration-count: infinite;
 }
 
 @keyframes shake {
   0% { transform: translate(1px, 1px) rotate(0deg); }
   10% { transform: translate(-1px, -2px) rotate(-1deg); }
   20% { transform: translate(-3px, 0px) rotate(1deg); }
   30% { transform: translate(3px, 2px) rotate(0deg); }
   40% { transform: translate(1px, -1px) rotate(1deg); }
   50% { transform: translate(-1px, 2px) rotate(-1deg); }
   60% { transform: translate(-3px, 1px) rotate(0deg); }
   70% { transform: translate(3px, 1px) rotate(-1deg); }
   80% { transform: translate(-1px, -1px) rotate(1deg); }
   90% { transform: translate(1px, 2px) rotate(0deg); }
   100% { transform: translate(1px, -2px) rotate(-1deg); }
 }
.whatsp{
   z-index: 9;
   position: fixed;
   left: 80%;
   top: 75%;
   width: 50px;
   height: 50px;
}
 .abt-images{
    width: 100%;
    margin-top: 1%;
    /* border-radius: 2%; */
 }
 
 .sub-headings{
   color:rgb(12, 12, 108) ;
    text-align: center;
    margin-top: 5%;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
 }
 .para{
    color: black;
    margin: 5%;
    text-align: center;
    font-size: 20px;
    padding: 3px;

 }

 /* services */
 /* .service-images{
   height: 50%;
 } */
 /* .images{
    width: 100%;
    height: 50%;
    margin-top: 5%;
 } */
 /* .carousal{
   font-size: 18px;
   font-weight: 800;
} */
 .services{
   width: 100%;
   
 }
.service{
   background-image: linear-gradient(rgb(218, 233, 247),rgb(233, 218, 230));
   padding: 25px;
   border-radius: 8px 8px;
   margin: 8%;
   border: .5px solid rgb(184, 204, 231);
}
.service:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.service-head{
   color: rgb(58, 58, 104);
   text-align: center;
   margin: 10px;
   font-size: 22px;
   font-weight:bold
}
.service-text{
   text-align: center;
   line-height: 35px;
   font-size: 18px;
}
.service-btn{
   margin: 50px auto;
   padding: 5px 50px;
   border-radius: 12px;
   border: none;
}
.service-btn:hover{
   background-color: rgb(86, 84, 84);
   color: white;
}
 /* contact */
 .connection{
    display: flex;
    margin: 10%;
    
 }
 .contact-icon{
   width: 15px;
 }
 .contact-det li{
    list-style-type: none;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
 }
 .contact-det li a{
   color: black;
   text-decoration: none;
   
 }

 .contact-det1 li{
   list-style-type: none;
   /* padding-top: 10px; */
   font-family: 'Times New Roman', Times, serif;
}
.contact-det1 li a{
  color: black;
  text-decoration: none;
}
 /* footer */
 .foot{
    background-color: rgb(35, 35, 69);
    
 }

 .foot-discr{
    padding-bottom: 5%;   
    color: white;
    font-size: 15px;
    text-align: center;
 }
 .foot1{
   padding: 25px;
   font-size: 15px;
   color: white;
   text-align: center;
 }
 .foot2{
   color: white;
 }
 .foot2-head{
   padding: 30px;
   font-size: 21px;
   font-weight: 500;
 }
 .foot2 li{
   cursor: pointer;
   list-style-type: none;
   font-size: 20;
   line-height: 1.9;
 }
 .foot2 li a{
   color: white;
   text-decoration: none;
 }

 .icon-head{
   color: white;
   padding: 30px;
   font-size: 21px;
   font-weight: 500;
 }
 
 .icons{

    color: white;
    padding: 20px;
    width: fit-content;
 }
 .icons ul{
   display: flex;
   margin: auto;
 }
 .icons li{
    list-style-type: none;
    padding: 8px;
 }
 .icon1{
   cursor: pointer;
   width: 30px;
   height: 30px;
   margin-left: 20px;
 }
 /* iastm */
 .iastmcontainer{
   background-image: linear-gradient(rgb(210, 198, 217),rgb(235, 240, 241));
}
.nameBox{
   
   border: 1px solid black;
   text-align: center;
   font-size: 22px;
}
 .iastm{
   margin-top: 3%;
   text-align: center;
   font-size: 25px;
 }

 