@media screen and (min-width: 600px){
    .bg-body-tertiary{
        height: 100px;
    }
    .d-inline-block{
        width: 400px;
        height: 100px;
     }
    .entry-image{
        position: relative;
        margin-top: 95px;
        width: 90%;
    }
    .physio_img1{
        margin-top: 5px;
        width: 111%;

    }
    .caption{
        position: absolute;
        background: none;
        top: 2.5%;
        left: 60%;
        width: 50%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        color: rgb(46, 81, 163);
        text-align: center;
    }
    .about-contents{
        display: flex;
    }
   
    .abt-images{
        margin-top: 10%;
        border-radius:20%;
        width:400px;
        height: 300px;
        margin-left: 1%;
    }
    .sub-headings{
        text-align: left;
        margin-left: 3%;
        color: rgb(91, 91, 224);
        margin-top: 4%;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif
    }
    .para{
        padding: 5px;
        margin: 2%;
        text-align: left;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif
    }
    .about-head{
        margin-top: 2%;
        background-color: rgb(145, 145, 243);
    }
    .abt-para{
        text-align: left;
        margin-left: -1%;
        margin-top: 4%;
        font-size: 20px;
        padding: 5px;
        font-family: 'Times New Roman', Times, serif
    }
    .images{
        margin-left: 25%;
        width: 50%;
        border-radius: 10%;
     }
    .about-head{
        background: none;
        color: rgb(91, 91, 224);
        font-weight: 900;
        text-align: left;
        margin-left: 2%;
        font-family: 'Times New Roman', Times, serif
    }
    .icon1{
        cursor: pointer;
        width: 40px;
        height: 40px;
      }
      .icons ul{
        margin-left: 40%;
      }
    .icons ul li{
        margin-top: 4%;
    }
    .whatsp-icon{
        
        width: 50px;
        height: 50px;    
    }
    .whatsp{
        margin-left: 90%;
        margin-top: 35%;
        width: 50px;
        height: 50px;
    }
}