@media screen and (min-width: 600px){
   /* navbar */
    .bg-body-tertiary{
        height: 100px;
    }
    .d-inline-block{
        margin-left: -100px;
        width: 220px;
        height: 50px;
     }
     .nav-links{
        font-size: 22px;

     }
     #basic-nav-dropdown{
        font-size: 22px;
     }
     /* home */
    .entry-image{
        position: relative;
        margin-top: 95px;
        width: 90%;
    }
    .physio_img1{
        margin-top: 5px;
        width: 111%;

    }
    .caption{
        position: absolute;
        background: none;
        /* width: 495px; */
        top: 10%;
        /* left: 69%; */
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        font-size: 45px;
        color: rgb(40, 66, 126);
        
    }
    .whatsp-icon{    
        width: 50px;
        height: 50px;    
    }
    .whatsp{
        margin-left: 90%;
        margin-top: 35%;
        width: 50px;
        height: 50px;
    }
    .about-contents{
        display: flex;
    }
   
    .abt-images{
        margin-top: 8%;
        border-radius:50%;
        width:300px;
        height: 250px;
        margin-left: 1%;
    }
    .sub-headings{
        margin-left: 8%;
        color: rgb(91, 91, 224);
        padding: 8%;
        font-size: 45px;
        font-weight: 600;
    }
    .para{
        margin-top: 5%;
        line-height: 1.6;
        padding: 5px;
        margin-left: 50px;
        text-align: center;
        font-size: 22px;
    }

     .service{
        margin-top: 5%;
        width: 350px;
     }
     .services{
        display: flex;
        flex-wrap: wrap;
     }
     
    .foot1{
        padding-top: 20px;
        font-size: 22px;
        /* font-style: oblique; */
    }
    .foot2-head{
        padding-left: 60px;
    }
    .foot2-list{
        padding-left: 60px;
    }
    
}